{% extends "./layouts/front-end-template.html" %} {% block body %}

    <div class="container-fluid py-3">          
		<h1 class="display-5 fw-bold">{{main_section_title}}</h1>

		<p>
			The following frameworks and libraries are used to build this demo site:
			<br />
			<ul>
			  <li>
				<a class="nav-link" href="https://www.python.org" target="_blank">Python - version 3.13.13 - Is powerful... and fast, plays well with others, runs everywhere</a> 
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="https://www.python.org" target="_blank">Python libraries: Flask, SqlAlchemy</a>
	     	  </li>
			  <li class="nav-item">
				<a class="nav-link" href="https://restfulapi.net" target="_blank">REST -  REpresentational State Transfer, is an architectural style for building web services...</a>
	     	  </li>
			  <li class="nav-item">
				<a class="nav-link" href="https://en.wikipedia.org/wiki/HTML5" target="_blank"">Html 5 - Wikipedia</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="https://getbootstrap.com" target="_blank">Bootstrap - version 4.0.0 - Powerful, extensible, and feature-packed frontend toolkit</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="https://en.wikipedia.org/wiki/CSS" target="_blank">Custom CSS - Wikipedia</a>
			  </li>      
			  <li class="nav-item">
				<a class="nav-link" href="https://jquery.com" target="_blank">jQuery - version 3.7.1 - fast, small, and feature-rich JavaScript library</a>
			  </li>
			</ul>
			<br />
		</p>
  
{% endblock %}
